{% extends "base.html" %}

{% block content %}

<h2>Create New Post</h2>

{% if error %}
    <p style="color: red;">
        {{ error }}
    </p>
{% endif %}

<form method="post">

        <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >


<p>
    <label for="title">Title</label><br>
    <input
        type="text"
        id="title"
        name="title"
        required
        maxlength="200"
    >
</p>

<p>
    <label for="body">Post</label><br>
    <textarea
        id="body"
        name="body"
        rows="6"
        required
    ></textarea>
</p>

<p>
    <label for="category">Category</label><br>

    <select id="category" name="category" required>

        <option value="Event">Event</option>
        <option value="Services Offered">Services Offered</option>
        <option value="Lost and Found">Lost and Found</option>
        <option value="Free to Good Home">Free to Good Home</option>
        <option value="Selling">Selling</option>
        <option value="Announcements">Announcements</option>

    </select>
</p>

<p>
    <label for="visibility">Visibility</label><br>

    <select id="visibility" name="visibility" required>
        <option value="members">Members only</option>
        <option value="public">Public</option>
    </select>
</p>

<p>
    <label>
        <input
            type="checkbox"
            name="comments_enabled"
        >
        Allow comments
    </label>
</p>

<button
    type="submit"
    class="post-button"
>
    Create Post
</button>

<a
    href="{{ url_for('home') }}"
    class="post-button"
>
    Cancel
</a>


</form>

{% endblock %}
