{% extends "base.html" %}

{% block content %}

<h2>Forgot Password</h2>

<p>
    Enter your username to begin recovering your account.
</p>

{% if error %}
    <p style="color: red;">
        {{ error }}
    </p>
{% endif %}

<form method="post">


        <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >

    <p>
        <label for="username">
            Username
        </label><br>

        <input
            type="text"
            id="username"
            name="username"
            maxlength="80"
            required
        >
    </p>

    <button
        type="submit"
        class="post-button"
    >
        Continue
    </button>

    <a
        href="{{ url_for('login') }}"
        class="post-button"
    >
        Cancel
    </a>

</form>

{% endblock %}